__pycache__

src/mensapi/frontend/node_modules

# Output
src/mensapi/frontend/.output
src/mensapi/frontend/.vercel
src/mensapi/frontend/.netlify
src/mensapi/frontend/.wrangler
src/mensapi/frontend/.svelte-kit
src/mensapi/frontend/build

# OS
src/mensapi/frontend/.DS_Store
src/mensapi/frontend/Thumbs.db

# Env
src/mensapi/frontend/.env
src/mensapi/frontend/.env.*
src/mensapi/frontend/!.env.example
src/mensapi/frontend/!.env.test

# Vite
src/mensapi/frontend/vite.config.js.timestamp-*
src/mensapi/frontend/vite.config.ts.timestamp-*
